<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960145826684-c96dspv3tbuokrl7gnnikkmpbe71r8rf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960145826684-c96dspv3tbuokrl7gnnikkmpbe71r8rf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>960145826684-ccqk4ovk0rsh7skq3d0a361dhko0t6mu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHp_iYnatnblf5qGo6a5xtMTLsPooq8qY</string>
	<key>GCM_SENDER_ID</key>
	<string>960145826684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.logingoogle</string>
	<key>PROJECT_ID</key>
	<string>login-screen-with-gfb</string>
	<key>STORAGE_BUCKET</key>
	<string>login-screen-with-gfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960145826684:ios:a842bc7dbd536869ec7af9</string>
</dict>
</plist>